.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .employee-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
  }
  
  .employee-table th,
  .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .employee-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .employee-table td.left-align {
    text-align: left;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination span {
    margin-right: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }