.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido hacia arriba */
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .content {
    text-align: center;
    padding: 20px;
  }